<div class="ui container">
    <form *ngIf="!photoAdded" class="ui form" (ngSubmit)="onSubmit()"  #addPhotoForm="ngForm" >
        <h2 class="ui dividing header">Add Your Photo</h2>
        <div class="field">
            <div class="two fields">
                <div class="field">
                    <label>* Photo Name</label>
                    <input name="photoName" [(ngModel)]="newPhoto.photoName" placeholder="Photo Name" required type="text"/>
                </div>
                <div class="field">
                    <label>* Photo Title</label>
                    <input name="title" placeholder="Photo Title" [(ngModel)]="newPhoto.title" required type="text"/>
                </div>
            </div>
        </div>
        <div class="field">
            <label>* Description</label>
            <input type="text" name="description" placeholder="Description" [(ngModel)]="newPhoto.description" required />
        </div>
        <div class="field">
            <label>Upload Photo</label>
            <input type="file" (change)="uploadPhotoService.fileChangeEvent($event)" />
            <button type="button" (click)="uploadPhotoService.upload()" class="ui mini button">Upload</button>
        </div>
        <hr/>
        <br/>
        <button type="submit" class="ui button">Submit</button>
    </form>
    <div *ngIf="photoAdded" class="ui success message">
        <div class="header">
            Your added photo was successful.
        </div>
    </div>
</div>