<div class="ui container">
    <form (ngSubmit)="onSubmit()" class="ui form" [hidden] = "loginService.checkLogin()">
        <div class="field">
            <label for="username">
                Username
            </label>
            <input [(ngModel)]="model.username" name="username" placeholder="Username" required type="text" />
        </div>
        <div class="field">
            <label for="password">
                Password
            </label>
            <input [(ngModel)]="model.password" name="password" placeholder="Password" required type="password"/>
        </div>
        <button class="ui button" type="submit">
            Login
        </button>
    </form>

    <div [hidden]="!loginService.checkLogin()">
        <h3>Logged In Sucessfully!</h3>
        <h2>Welcome back,</h2>
    </div>
</div>